<div data-role="page">

	<div data-role="header">
		<h1>Wilkommen <%= current_user.email %></h1>
		<h1><%= link_to "home", pages_path %></h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>Report a Bug</p>		

		<ul data-role="listview" data-inset="true" >
			<li><%= link_to "Vorschlag einreichen", new_suggestion_path %>
			<li><%= link_to "Alle Vorschläge ansehen", suggestions_path(:all => "true") %>
			<li><%= link_to "Meine Einträge", suggestions_path %>
			<li><a href="my_profil.html" data-ajax="false">Profil</a></li>
		</ul>

	</div><!-- /content -->

</div><!-- /page -->

