<div data-role="page" data-add-back-btn="true">



	<div data-role="header">
		<h1>Wilkommen <%= current_user.email %></h1>
		<h1><%= link_to "home", pages_path %></h1>
	</div><!-- /header -->

	<div data-role="content">	
	<h2> Titel: <%= @suggestion.title %> </h2>
	<%= image_tag(@suggestion.file, :size => "200x120")%>
	<h3> Beschreibung: <%= @suggestion.description %> </h3>
	<h3> Voting: +15 </h3>
	<ul class="ui-listview" data-divider-theme="d" data-theme="d" data-role="listview">
	<%= render @comments %>
	</ul>
	<br/>
	<label for="basic">Neuer Kommentar:</label>
	<%= semantic_form_for [@suggestion, @comment] do |c| %>
		<%= c.input :description %>
		<%= c.input :suggestion_id, :as => :hidden, :value => @suggestion.id %>
		<%= c.input :user_id, :as => :hidden, :value => current_user.id %>
		<%= c.actions :submit %>
	<% end %>

	</div><!-- /content -->

</div><!-- /page -->
